<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>{{ block "title" . }}
{{ .Site.Title }}
{{ end }}</title>
<link rel="pingback" href="https://webmention.io/deluvi.com/xmlrpc" />
<link rel="webmention" href="https://webmention.io/deluvi.com/webmention" />
<link rel="stylesheet" href="/style.css"/>
<link rel="icon" type="image/png" href="/img/avatar.png"/>
</head>
<body>
<header>
{{ block "header" . }}
<h1 id="maintitle"><a href="/">Deluvi's website</a></h1>
<div id="navbar">
<a href="/blog">Blog</a>
<a href="/games">Games</a>
<a rel="me" href="https://github.com/Deluvi">Github</a>
<a rel="me" href="https://deluvi.itch.io/">Itch.io</a>
</div>
{{ end }}
</header>
<main>
{{ block "main" . }}
{{ end }}
</main>
<footer>
{{ block "footer" . }}
<p><a href="/index.xml">Rss feed</a></p>
{{ end }}
</footer>
</body>
</html>