{{ define "title" }}
{{.Title}} - {{.Site.Title}}
{{end}}
{{ define "main" }}
<article class="h-entry">
<h1 class="p-name">{{ .Title }}</h1>
<div class="u-author h-card"><img class="u-photo" src="/img/avatar-medium.png" style="display: none;"/>By <a class="p-author p-name u-url" href="https://deluvi.com">Deluvi</a></div>
<a class="u-url" href="{{.Permalink}}"><time class="dt-published" datetime="{{ .Date.Format "2006-01-02T15:04:05-07:00" }}">{{.Date.Format "Mon Jan 2, 2006"}}</time></a>
<div class="p-summary">{{.Params.summary}}</div>
<div class="e-content">
{{ .Content }}
</div>
</article>
<div class="webmention-form">
    <form action="https://webmention.io/deluvi.com/webmention" method="post">
        <label>Did you mentionned this article on your website? Put the URL of your post here:</label><br/>
        <input name="source" type="url"/>
        <input name="target" value="{{ .Permalink }}" type="hidden"/>
        <input value="Send Webmention" type="submit"/>
    </form>
</div>
{{ $pathJSON := (print "data" (strings.TrimSuffix "/" .URL) ".json") }}
{{ if fileExists $pathJSON }}
<div class="webmentions">
    {{ $mJSON := getJSON $pathJSON }}
    {{ partial "webmention.html" $mJSON }}
</div>
{{ end }}
{{ end }}