body {
    background-color:#585858;
    color:#bfbfbf;
}
a {
    color : #54b04d;
    text-decoration:none;
}
a:hover {
    background-color:rgb(95, 209, 42);
}
#maintitle {
    text-align:center;
    font-size:50px;
    text-decoration-style: wavy;
    text-decoration:wavy;
}
#navbar>a {
    font-size:42px;
    text-align:center;
    display:inline;
    margin: 0.5em;
}
#navbar {
    text-align:center
}
header {
    border-width:thick;
    border-color:#22471f;
    border-style: solid;

}
body {
    font-family : Arial,sans-serif;
    margin-left:5%;
    margin-right:5%;
}
@media (min-width: 800px){
    main {
        margin-left:15%;
        margin-right:15%;
    }
}
@media (max-width: 800px){
    main {
        margin-left:8%;
        margin-right:8%;
    }
}

p {
    font-size:20px;
}
h1 {
    font-size:35px;
}
time {
    font-size:18px;
}
footer {
    text-align:center;
}
footer p {
    font-size:10px;
}
li {
    font-size:20px;
}
img {
    max-width:100%;
    max-height:100%;
}