body {
    background-color:#585858;
    color:#bfbfbf;
}
a {
    color : #54b04d;
    text-decoration:none;
}
a:hover {
    background-color:rgb(95, 209, 42);
}
#maintitle {
    text-align:center;
    font-size:50px;
    text-decoration-style: wavy;
    text-decoration:wavy;
    margin-bottom:20px;
}
#navbar>a {
    font-size:42px;
    text-align:center;
    display:inline;
    margin: 0.5em;
}
#navbar {
    text-align:center
}
header {
    border-width:thick;
    border-color:#22471f;
    border-style: solid;
}

#header-img {
    background-color: #505050;
    border-width: 1px;
    border-color: #4a4a4a;
    border-style: solid;
    margin-left: auto;
    margin-right: auto;
    width: 110px;
    display: block;
    margin-bottom:20px;
}

body {
    font-family : Arial,sans-serif;
}

header, main {
    margin-left: auto;
    margin-right: auto;
}

@media (min-width: 1000px) {
    header, main {
        width: 50vw;
    }
}
  
@media (min-width: 800px) and (max-width: 1000px) {
    header, main {
        width: 70vw;
    }
}
  
@media (max-width: 800px) {
    header, main {
        width: 95vw;
    }
}

p {
    font-size:20px;
}
h1 {
    font-size:35px;
}
time {
    font-size:18px;
}
footer {
    text-align:center;
}
footer p {
    font-size:10px;
}
li {
    font-size:20px;
}
img {
    max-width:100%;
    max-height:100%;
}
.webmentions {
    margin-top:30px;
    margin-bottom:30px;
}
.webmentions div {
    margin-top:5px;
    margin-bottom:5px;
}